## OS
.DS_Store
.DS_Store?
.Trashes
**.Trashes
ehthumbs.db
Thumbs.db

**.hdb
**.bak
**.done
**.jic
**.map
**.pin
**.pof
**.rpt
**.summary
**.smsg
**.sof
**.qmsg
**.cdb
**.logdb
**.idb
**.ddb
**.bpm
**.smart_action.txt
**.hif
**.jdi
**.tmw_info
**.rdb
**.ammdb
**.tdf
**.kpt
**.dpi
**.hb_info
**.sig
**.sld

**/db/
**/incremental_db/
**/output_files/
**.qws

**.tmp
**.swp
!/.gitignore
bin
gitk
*~
**.pyc
Doc/*
**.log

SimulationLib_quartus
*.bak
